@import 'tailwindcss';
@import 'tw-animate-css';

@plugin '@tailwindcss/typography';

@layer components {
  .graph-h {
    @apply h-[calc(100vh-2.25rem)] max-h-[calc(100vh-2.25rem)] min-h-[calc(100vh-2.25rem)];
  }
}

@layer base {
  * {
    @apply m-0 box-border touch-none p-0 tracking-tighter antialiased outline-none! select-none!;
  }

  img,
  video,
  svg {
    @apply block;
  }

  a {
    @apply no-underline;
  }

  .highlighted {
    @apply scale-125;
  }

  .dimmed {
    @apply opacity-10 duration-500;
  }
}

@theme {
  --color-vsc-button-fg: var(--vscode-button-foreground);
  --color-vsc-button-bg: var(--vscode-button-background);
  --color-vsc-button-hover-bg: var(--vscode-button-hoverBackground);

  --color-vsc-editor-fg: var(--vscode-editor-foreground);
  --color-vsc-editor-bg: var(--vscode-editor-background);
  --color-vsc-editor-selection-bg: var(--vscode-editor-selectionBackground);
  --color-vsc-editor-selection-fg: var(--vscode-editor-selectionForeground);

  --color-vsc-input-fg: var(--vscode-input-foreground);
  --color-vsc-input-bg: var(--vscode-input-background);
  --color-vsc-input-placeholder-fg: var(--vscode-input-placeholderForeground);

  --color-vsc-error-fg: var(--vscode-errorForeground);
  --color-vsc-error-bg: var(--vscode-inputValidation-errorBackground);

  --color-vsc-git-added-fg: var(--vscode-gitDecoration-addedResourceForeground);
  --color-vsc-git-deleted-fg: var(--vscode-gitDecoration-deletedResourceForeground);
  --color-vsc-git-modified-fg: var(--vscode-gitDecoration-modifiedResourceForeground);
  --color-vsc-git-renamed-fg: var(--vscode-gitDecoration-renamedResourceForeground);
}
